<h1>Filiais</h1>
<% if @subsidiaries.any? %>
  <ul>
    <%= @subsidiaries.each do |s|%>
      <li><%= link_to s.name, subsidiary_path(id: s.id) %></li>
  </ul>
<%end%>
  <%else%>
  <p>Nenhuma filial cadastrada</p>
<%end%>

<p><%= link_to "Registrar nova filial", new_subsidiary_path %></p>
<p><%= link_to "Voltar", root_path %></p>
