<header>
  <h1> Rental Cars </h1>
  <p>Bem vindo ao sistema de gestão de locação<p>
</header>
<div>
  <p><%= link_to "Fabricantes", manufacturers_path %></p>
  <p><%= link_to "Filiais", subsidiaries_path %></p>
  <p><%= link_to "Categorias cadastradas", car_categories_path %></p>
  <p><%= link_to "Clientes", clients_path %></p>
</div>