<h1>Categorias de Carros</h1>
<div>
<% if @car_categories.any? %>
  <ul>
    <% @car_categories.each do |c|%>
      <li><%= link_to c.name, c %></li>
<%end%>
  </ul>
  <%else%>
  <p>Nenhuma categoria de carro cadastrada</p>
<%end%>
</div>
<div>
<p><%= link_to "Cadastrar nova categoria", new_car_category_path %></p>
<p><%= link_to "Voltar", root_path %></p>
</div>