<h1>Carros</h1>
<% if @car_categories.any? %>
  <ul>
    <% @car_categories.each do |c|%>
      <li><%= link_to c.name, c %></li>
<%end%>
  </ul>
  <%else%>
  <p>Nenhum carro cadastrado</p>
<%end%>

<p><%= link_to "Cadastrar novo carro", new_car_category_path %></p>
<p><%= link_to "Voltar", root_path %></p>
